<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="continents" [hoverStateEnabled]="true" [showBorders]="true"
          [allowColumnResizing]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
          <dxi-column dataField="Empid" [allowSearch]="true" dataType="string">
          </dxi-column>
          <dxi-column dataField="FirstName" [allowSearch]="true" dataType="string">
          </dxi-column>
          <dxi-column dataField="LastName" [allowSearch]="true" dataType="string">
          </dxi-column>
          <dxi-column dataField="Age" [allowSearch]="true" dataType="number">
          </dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]">
          </dxo-pager>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>